<!doctype html>
{% load static %}
<html>
    <head>
        <title>
            {{ recipe_object.title }} -
            Scrumptious Recipes
        </title>
        <link rel="stylesheet" href='{% static "css/recipes.css" %}'>
    </head>
    <body>
        <header>
            <nav>
                <a href="{% url 'recipe_list' %}">Main page</a>
            </nav>
        </header>
        <main>
            <h1>{{ recipe_object.title }}</h1>
            <img src="{{ recipe_object.picture }}">
            <div>4.3 stars</div>
            <p>{{ recipe_object.description }}</p>
            <p>{{ recipe_object.created_on }}</p>
            <h2>Ingredients</h2>
            <table>
                <thread>
                    <th>Amount</th>
                    <th>Food item</th>
                </thread>
                <tbody>
                    <tr>
                        <td>1 cup</td>
                        <td>Green beans</td>
                    </tr>
                    <tr>
                        <td>3 ears</td>
                        <td>Fresh corn</td>
                    </tr>
                    <tr>
                        <td>2 cups</td>
                        <td>Tomatillo salsa</td>
                    </tr>
                    <tr>
                        <td>8</td>
                        <td>Corn tortillas</td>
                    </tr>
                    <tr>
                        <td>0.5 cups</td>
                        <td>Cotija cheese</td>
                    </tr>
                </tbody>
            </table>
            <h2>Steps</h2>
            <ol>
                <li>Blanch the green beans</li>
                <li>Grill the green beans and the ears of corn</li>
                <li>Chop the green beans</li>
                <li>Slice the corn off the cob</li>
                <li>Grill the tortillas</li>
                <li>Assemble the tacos with veggies, salsa, and cheese</li>
            </ol>
        </main>
        <footer>
            Made with love by Scrumptious Recipes
        </footer>
    </body>
</html>
